* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {flex: 0 0 auto;} 

.relative {position: relative;}


.overflow-y {
    overflow-y: auto;
}

.uppercase {
    text-transform: uppercase;
}

.mw-none {
    max-width: none;
}

.circle {border-radius: 50%;}

.no-dec {
    text-decoration: none;
}

.text-center {text-align: center;}

/* inizio grandezze */

/* inizio grandezze font */
.font-s10 {font-size: 10px;}
.font-s13 {font-size: 13px;}
.font-s16 {font-size: 16px;}
.font-s20 {font-size: 20px;}
.font-s22 {font-size: 22px;}
.font-s25 {font-size: 25px;}
.font-s30 {font-size: 30px;}
.font-s35 {font-size: 35px;}
.font-s40 {font-size: 40px;}
.font-s45 {font-size: 45px;}
.font-s50 {font-size: 50px;}
/* fine grandezze font */


/* inizio grandezze line */
.lh-20 {line-height: 20px;}
.lh-30 {line-height: 30px;}
/* fine grandezze line */

/* inizio grandezze margin */

.mtb-10 {margin-top: 10px; margin-bottom: 10px;}
.mtb-20 {margin-top: 20px; margin-bottom: 20px;}
.mtb-30 {margin-top: 30px; margin-bottom: 30px;}
.mtb-40 {margin-top: 40px; margin-bottom: 40px;}
.mtb-50 {margin-top: 50px; margin-bottom: 50px;}

.mt-10  {margin-top: 10px;}
.mt-20  {margin-top: 20px;}
.mt-30  {margin-top: 30px;}
.mt-40  {margin-top: 40px;}
.mt-50  {margin-top: 50px;}
.mt-100 {margin-top: 100px;}

.mb-10  {margin-bottom: 10px;}
.mb-20  {margin-bottom: 20px;}
.mb-30  {margin-bottom: 30px;}
.mb-40  {margin-bottom: 40px;}
.mb-50  {margin-bottom: 50px;}
.mb-100 {margin-bottom: 100px;}

.ml-10 {margin-left: 10px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}

.mr-10 {margin-right: 10px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}

.mlr-5  {margin-left: 5px; margin-right: 5px;}
.mlr-10 {margin-left: 10px; margin-right: 10px;}
.mlr-20 {margin-left: 10px; margin-right: 20px;}
.mlr-30 {margin-left: 10px; margin-right: 30px;}
.mlr-40 {margin-left: 10px; margin-right: 40px;}
.mlr-50 {margin-left: 10px; margin-right: 50px;}
/* fine grandezze margin */

/* inizio grandezze padding */
.pd-10 {padding: 10px;}
.pd-20 {padding: 20px;}
.pd-30 {padding: 30px;}
.pd-40 {padding: 40px;}
.pd-50 {padding: 50px;}

.pdl-10 {padding-left: 10px;}
.pdl-20 {padding-left: 20px;}
.pdl-30 {padding-left: 30px;}
.pdl-40 {padding-left: 40px;}
.pdl-50 {padding-left: 50px;}
/* fine grandezze padding */

/* fine grandezze */

/* flex section */

.flex           {display: flex;}

.flex-row       {flex-direction: row;}
.flex-column    {flex-direction: column;}

.flex-start     {justify-content: flex-start;}
.flex-end       {justify-content: flex-end;}
.flex-center    {justify-content: center;}
.flex-between   {justify-content: space-between;}
.flex-around    {justify-content: space-around;}
.flex-evenly    {justify-content: space-evenly;}

.align-it-start    {align-items: flex-start;}
.align-it-end      {align-items: flex-end;}
.align-it-center   {align-items: center;}
.align-it-stretch  {align-items: stretch;}

.align-se-start     {align-self: flex-start;}
.align-se-end       {align-self: flex-end;}
.align-se-center    {align-self: center;}
.align-se-base      {align-self: baseline;}
.align-se-stretch   {align-self: stretch;}

.align-co-start     {align-content: flex-start;}
.align-co-end       {align-content: flex-end;}
.align-co-center    {align-content: center;}
.align-co-stretch   {align-content: stretch;}
.align-co-between   {align-content: space-between;}
.align-co-around    {align-content: space-around;}

/* end flex section */

/* 12 columns rules */


/* xs rules */
    .col-xs {flex-grow: 1;  flex-basis: 0;  max-width: 100%;}    


    .col-xs-1  {flex-basis: calc((100% / 12)* 1);  max-width: calc((100% / 12)* 1);}
    .col-xs-2  {flex-basis: calc((100% / 12)* 2);  max-width: calc((100% / 12)* 2);}
    .col-xs-3  {flex-basis: calc((100% / 12)* 3);  max-width: calc((100% / 12)* 3);}
    .col-xs-4  {flex-basis: calc((100% / 12)* 4);  max-width: calc((100% / 12)* 4);}
    .col-xs-5  {flex-basis: calc((100% / 12)* 5);  max-width: calc((100% / 12)* 5);}
    .col-xs-6  {flex-basis: calc((100% / 12)* 6);  max-width: calc((100% / 12)* 6);}
    .col-xs-7  {flex-basis: calc((100% / 12)* 7);  max-width: calc((100% / 12)* 7);}
    .col-xs-8  {flex-basis: calc((100% / 12)* 8);  max-width: calc((100% / 12)* 8);}
    .col-xs-9  {flex-basis: calc((100% / 12)* 9);  max-width: calc((100% / 12)* 9);}
    .col-xs-10 {flex-basis: calc((100% / 12)* 10); max-width: calc((100% / 12)* 10);}
    .col-xs-11 {flex-basis: calc((100% / 12)* 11); max-width: calc((100% / 12)* 11);}
    .col-xs-12 {flex-basis: calc((100% / 12)* 12); max-width: calc((100% / 12)* 12);}

/* end xs rules */

/* md rules */
@media screen and (min-width: 720px){

    .col-md {flex-grow: 1;  flex-basis: 0;  max-width: 100%;} 
    
    .col-md-1  {flex-basis: calc((100% / 12)* 1);  max-width: calc((100% / 12)* 1);}
    .col-md-2  {flex-basis: calc((100% / 12)* 2);  max-width: calc((100% / 12)* 2);}
    .col-md-3  {flex-basis: calc((100% / 12)* 3);  max-width: calc((100% / 12)* 3);}
    .col-md-4  {flex-basis: calc((100% / 12)* 4);  max-width: calc((100% / 12)* 4);}
    .col-md-5  {flex-basis: calc((100% / 12)* 5);  max-width: calc((100% / 12)* 5);}
    .col-md-6  {flex-basis: calc((100% / 12)* 6);  max-width: calc((100% / 12)* 6);}
    .col-md-7  {flex-basis: calc((100% / 12)* 7);  max-width: calc((100% / 12)* 7);}
    .col-md-8  {flex-basis: calc((100% / 12)* 8);  max-width: calc((100% / 12)* 8);}
    .col-md-9  {flex-basis: calc((100% / 12)* 9);  max-width: calc((100% / 12)* 9);}
    .col-md-10 {flex-basis: calc((100% / 12)* 10); max-width: calc((100% / 12)* 10);}
    .col-md-11 {flex-basis: calc((100% / 12)* 11); max-width: calc((100% / 12)* 11);}
    .col-md-12 {flex-basis: calc((100% / 12)* 12); max-width: calc((100% / 12)* 12);}
}
/* end md rules */

/* lg rules */
@media screen and (min-width: 960px){

    .col-lg {flex-grow: 1;  flex-basis: 0;  max-width: 100%;} 
    
    .col-lg-1  {flex-basis: calc((100% / 12)* 1);  max-width: calc((100% / 12)* 1);}
    .col-lg-2  {flex-basis: calc((100% / 12)* 2);  max-width: calc((100% / 12)* 2);}
    .col-lg-3  {flex-basis: calc((100% / 12)* 3);  max-width: calc((100% / 12)* 3);}
    .col-lg-4  {flex-basis: calc((100% / 12)* 4);  max-width: calc((100% / 12)* 4);}
    .col-lg-5  {flex-basis: calc((100% / 12)* 5);  max-width: calc((100% / 12)* 5);}
    .col-lg-6  {flex-basis: calc((100% / 12)* 6);  max-width: calc((100% / 12)* 6);}
    .col-lg-7  {flex-basis: calc((100% / 12)* 7);  max-width: calc((100% / 12)* 7);}
    .col-lg-8  {flex-basis: calc((100% / 12)* 8);  max-width: calc((100% / 12)* 8);}
    .col-lg-9  {flex-basis: calc((100% / 12)* 9);  max-width: calc((100% / 12)* 9);}
    .col-lg-10 {flex-basis: calc((100% / 12)* 10); max-width: calc((100% / 12)* 10);}
    .col-lg-11 {flex-basis: calc((100% / 12)* 11); max-width: calc((100% / 12)* 11);}
    .col-lg-12 {flex-basis: calc((100% / 12)* 12); max-width: calc((100% / 12)* 12);}
}
/* end lg rules */


/* end 12 columns rules */

