body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #080b12; attivare alla fine */
    font-weight: 600;
}

/* inizio common */

.box-nested {
    width: 100%;
    text-align: center;
    display: flex;
}

.title {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.sub-title {
    color: #808080;
    text-align: center;
    margin-bottom: 10px;
    font-size: 13px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cover {
    position: relative;
}

.fit {
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.cover img {
    position: relative;
}

.cover i {
    font-size: 5vw;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* backgroung alla copertina */
.cover .rgba {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
}


@media screen and (max-width: 540px){
    .cover i {font-size: 5vw;}
}

@media screen and (max-width: 720px){
    .cover i {font-size: 10vw;}
}

/* hover copertina - simbolo play e opacità nera */
.cover:hover i, .cover:hover .rgba{
    display: block;
}

.cover:hover{
    cursor: pointer;
}

/* attenzione, selettore  molto generico */
.col-xs-2 img {
    width: 100%;
    object-fit: contain;
}

.white {
    color: white;
}

.grey {
     color: #808080;
}



/* fine common */

/* inizio main */

.container-fluid > main:nth-child(1) > div:nth-child(1) {
    background-color: #080b12;
}


/* inizio nav sx */

.navig {
    margin-top: 100px;
}

/* inizio nav sx da S a più piccolo */

.sx-nav-xs {
    display: none;
    background-color: #000000;
    max-height: calc(100vh - 100px); /* -100px footer */
    min-height: calc(100vh - 100px); /* -100px footer */
    width: 50px;
    color: white;
}

@media screen and (max-width: 540px){
    .sx-nav-xs {display: flex;}
}

.sx-nav-xs div div {
    width: 25px;
    height: 25px;
    margin: 15px 0;
}
.sx-nav-xs .bottom div img {
    height: 18px;
}

/* user */
.sx-nav-xs .bottom div:nth-child(2){
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
    position: relative;
}

.sx-nav-xs .bottom div i {
    font-size: 25px;
}

.sx-nav-xs .bottom div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* fine user */

/* fine nav sx da S a più piccolo */

/* inizio nav sx da S a più grande */
.sx-nav {
    background-color: #000000;
    max-height: calc(100vh - 100px); /* -100px footer */
    min-height: calc(100vh - 100px); /* -100px footer */
    width: 220px;
}

@media screen and (max-width: 540px){
    .sx-nav {display: none;}
}

.sx-nav .top {
    height: 270px;
    width: 100%;
}

div.home:nth-child(2) > img:nth-child(1) {
    border-left: 3px solid #adff2f;
    padding-left: 17px;
}

.sx-nav .top .logo img {
    width: 150px;
    margin: 20px;
}

.sx-nav .top .home img, .sx-nav .bottom .home {
    height: 25px;
}

.sx-nav .top .home i {
    font-size: 35px;
}

.sx-nav .top .home span {
    margin-left: 10px;
}

.sx-nav .top > div, .sx-nav .center a, .sx-nav .bottom {
    color: #808080;
}

.sx-nav .top > div:hover, .sx-nav .center a:hover, .sx-nav .bottom div:not(.john):hover {
    color: white;
    cursor: pointer;
}

/* no cursor pointer on John Doe */
/* span.white:nth-child(2) {
    cursor: initial;
} */


.sx-nav .center {
    min-height: 130px;
    height: calc(100vh - 100px - 270px - 70px); /* -footer -navtop -navbottom */
    min-width: 100%;
}
.sx-nav .bottom {
    height: 70px;
    width: 100%;
}

/* user */
.sx-nav .bottom div div{
    width: 20px;
    height: 20px;
    background-color: #808080;
    border-radius: 50%;
    position: relative;
}

.sx-nav .bottom div img {
    height: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* fine user */
/* fine nav sx da S a più grande */
/* fine nav sx */

/* inizio main dx */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;    
    background-color: rgba(0,0,0,0.5);
    min-height: 100px;
    width: calc(100% - 220px); /* -.sx-nav */
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 540px){
    .upgrade {width: calc(100% - 50px);}
}

.upgrade .uppercase {
    z-index: 1;
    color: #f7f7f7;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid #f7f7f7; 
}

.upgrade .uppercase:hover {
    transform: scale(1.18);
    cursor: pointer;
}

.right-main .row.contents {
    background-color: #141922;     
    width: 100%;
}

.right-main .contents .navig {
    justify-content: center;
}

.right-main .contents .navig li {
    color: #797b80;
    display: inline-block;
    padding: 20px 10px 10px ;
}
.right-main .contents .navig li:hover{
    color:white;
    cursor: pointer;
}

.right-main .contents .navig li span {
    padding-bottom: 2px;
    border-bottom: 3px solid #adff2f;
}

.right-main .items > div {
    padding: 10px;
}

.main-contents {
    height: calc(100vh - 100px);
}



/* fine main */





/* inizio footer */

footer div .box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #282828;
}

footer {
    color: #ffffff;
}



/* inizio barre riproduzione */

.ft-c-bottom > div:nth-child(2) {
    width: 30vw;
   }
   

.foot-center .ft-c-bottom .center .all-bar {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #5a5a5a;
    position: relative;
}

.foot-center .ft-c-bottom .center .all-bar .white-bar {
    position: relative;
    width: 20%;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

/* geometria puntino - poi nascosta per vederela con hover */
.foot-center .ft-c-bottom .center .all-bar .white-bar .point-bar, .foot-dx .little-bar .little-bar-white .point-bar{
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}

/* fai diventare la barre verdi */
.foot-center .ft-c-bottom .center .all-bar:hover .white-bar, .foot-dx .little-bar:hover .little-bar-white {
    background-color: #adff2f;
}

/* mostra puntino su barre verde */
.foot-center .ft-c-bottom .center .all-bar:hover  .white-bar .point-bar, .foot-dx .little-bar:hover .little-bar-white .point-bar{
    display: block;
}

.foot-dx .little-bar {
    width: 10vw;
    height: 5px;
    border-radius: 5px;
    background-color: #5a5a5a;
    position: relative;
}

.foot-dx .little-bar-white {
    width: 2vw;
    height: 5px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}
/* fine barre riproduzione */

.foot-sx-sx     {width: 150px;
                height: 50px;}
.foot-sx-sx div > * {font-size: 10px;}
.foot-sx-sx div {margin-left: 10px;}

@media screen and (max-width: 720px){
    .foot-sx-sx     {width: 100px;}
    .foot-sx-sx div > * {font-size: 8px;}
    .foot-sx-sx div {margin-left: 6px;}
}

.foot-sx-sx .title-sub .tit:hover, .foot-sx-sx .title-sub .sub-tit:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.foot-sx-dx i:hover {
    color: white;
    cursor: pointer;
}


.foot-center .ft-c-top > * {
    margin: 0 10px;
    font-size: 16px;
}

/* sopra tutti tasti riproduzione, barra grande, barra piccola e 3 tasti a fianco */
.foot-center .ft-c-top > *:hover, .center .all-bar:hover, .foot-dx > *:hover {
    cursor: pointer;
}

.foot-center .fa-play-circle {
    font-size: 25px;
}

.foot-center .fa-play-circle:hover {
    transform: scale(1.5);
    cursor: pointer;
}

   

@media screen and (max-width: 720px){
    .foot-center .ft-c-top > * {
        margin: 0 6px;
        font-size: 13px;
    }
    .foot-center .fa-play-circle {
        font-size: 22px;
    }
}

.foot-dx > * {
    margin: 0 10px;
    font-size: 13px;
}

@media screen and (max-width: 720px){
    .foot-dx > * {
        margin: 0 6px;
        font-size: 10px;
    }
}
/* fine footer */
