body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #080b12; attivare alla fine */
    font-weight: 600;
}

/* inizio common */

.box-nested {
    width: 100%;
    text-align: center;
    display: flex;
}

.title {
    color: white;
    text-align: center;
    margin: 10px 0;
}

.sub-title {
    color: #7a7d81;
    text-align: center;
    margin-bottom: 10px;
}


/* fine common */

/* inizio main */
/* inizio nav sx */

nav .sx-nav {
    background-color: #000000;
    min-height: calc(100vh - 100px); /* -100px footer */
    border: 1px solid green; /* da togliere */
}

nav .sx-nav .top {
    height: 150px;
    width: 100%;
    border: 1px solid red;
}
nav .sx-nav .center {
    min-height: calc(100vh - 100px - 150px - 150px); /* - footer - navtop - navbottom */
    min-width: 100%;
    border: 1px solid red;
}
nav .sx-nav .bottom {
    height: 150px;
    width: 100%;
    border: 1px solid red;
}


/* fine nav sx */

/* inizio main dx */
.upgrade {
    position: fixed;
    top: 0;
    right: 0;    
    background-color: #080b12;
    min-height: 100px;
    width: calc((100% / 12) * 10);
    justify-content: flex-end;
    align-items: center;
}

.upgrade .uppercase {
    z-index: 1;
    color: #f7f7f7;
    padding: 10px 30px;
    border-radius: 20px;
    margin-right: 10px;
    border: 1px solid #f7f7f7; 
}

.right-main .row.contents {
    background-color: #141922;     
    width: 100%;
    /*  height: calc(100vh - 100px);  - top and bottom fixed */
    border: 1px solid green /* da togliere */
}

.right-main .contents .navig {
    justify-content: center;
}

.right-main .contents .navig li {
    color: #797b80;
    display: inline-block;
    padding: 20px 10px 10px ;
    background-color: burlywood;
}







/* fine main */





/* inizio footer */

footer div .box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #141922;
}

/* fine footer */






/* provvisori */
.box {
    border: 1px solid yellow;
    background-color: #ffc0cb;
    min-height: 100px;
}